<h2>Sign Up</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">name:</label>
    <input class="form-input" type="text" id="name-register" />
  </div>
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-register" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-register" />
  </div>
  <div class="form-group">
    <label for="password-login">confirm password:</label>
    <input class="form-input" type="password" id="confirm-register" />
  </div>
  <div>
    <a href="/login">Log in</a>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>

<script src="/js/register.js"></script>
